@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  color: #0f0e0e;
}
.calculate-container {
  position: sticky;
  top: 25%;
  z-index: 10;
  background: white;
}

.bill-container {
  position: sticky;
  top: 25%;
  z-index: 10;
  /* Adjust as needed to control overlap */
}

.payment-container {
  position: sticky;
  top: 25%;

  z-index: 20;
}
.record-container {
  position: sticky;
  top: 25%;
  z-index: 30;
}
.sync-container {
  position: sticky;
  top: 25%;
  z-index: 40;
}
.sound-container {
  position: sticky;
  top: 25%;
  z-index: 50;
}
